.mika-nor::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225104.png);}
.mika-no2r::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225054.png);}
.mika-komar::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225100.png);}
.mika-konr::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225048.png);}
.mika-doyar::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225039.png);}
.mika-okor::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225325.png);}
.mika-nol::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225319.png);}
.mika-no2l::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225308.png);}
.mika-komal::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225314.png);}
.mika-konl::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225726.png);}
.mika-doyal::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225715.png);}
.mika-okol::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20181209/20181209225702.png);}
.phone::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20200617/20200617000042.png);}
.haha-moji::after {background-image:url(//cdn-ak.f.st-hatena.com/images/fotolife/a/anmin_1990/20200617/20200617225309.png);}
